<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Inertie d'une sphère -->
  <xacro:macro name="inertial_sphere" params="mass radius *origin">
    <inertial>
      <xacro:insert_block name="origin" />
      <mass value="${mass}"/>
      <inertia
        ixx="${(2.0/5.0) * mass * (radius * radius)}"
        iyy="${(2.0/5.0) * mass * (radius * radius)}"
        izz="${(2.0/5.0) * mass * (radius * radius)}"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </xacro:macro>

  <!-- Inertie d'un parallélépipède -->
  <xacro:macro name="inertial_box" params="mass x y z *origin">
    <inertial>
      <xacro:insert_block name="origin" />
      <mass value="${mass}"/>
      <inertia
        ixx="${(1.0/12.0) * mass * (y*y + z*z)}"
        iyy="${(1.0/12.0) * mass * (x*x + z*z)}"
        izz="${(1.0/12.0) * mass * (x*x + y*y)}"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </xacro:macro>

  <!-- Inertie d'un cylindre -->
  <xacro:macro name="inertial_cylinder" params="mass length radius *origin">
    <inertial>
      <xacro:insert_block name="origin" />
      <mass value="${mass}"/>
      <inertia
        ixx="${(1.0/12.0) * mass * (3*radius*radius + length*length)}"
        iyy="${(1.0/12.0) * mass * (3*radius*radius + length*length)}"
        izz="${0.5 * mass * radius * radius}"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </xacro:macro>

</robot>
